<?xml version='1.0' encoding='utf-8'?>
<tomcat-users>
  <role rolename="manager-gui"/>
  <role rolename="manager-script"/>
  <role rolename="poweruser"/>
  <role rolename="probeuser"/>
  <role rolename="poweruserplus"/>
{% if tomcat_users is defined %}
{% for user in tomcat_users %}
  <user username="{{ user.username }}" password="{{ user.password }}" roles="{{ user.role }}"/>
{% endfor %}
{% endif %}
</tomcat-users>
