[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "*"
PyYAML = "*"
paramiko = "*"
cryptography = "*"
"jinja2" = "*"
pyyaml = "*"
ansible = ">=2.5.1"

[dev-packages]

[requires]
python_version = "3.6"
