[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "9.*"
ansible-lint = "*"
passlib = "*"

[dev-packages]
ansible-lint = "*"

[requires]
python_version = "3.12"
