[sssd]
services = nss, pam
config_file_version = 2

domains = default

[domain/default]

ldap_id_use_start_tls = False
cache_credentials = True
ldap_search_base = dc=ilri,dc=cgiar,dc=org
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap

ldap_access_order = filter
ldap_access_filter = (objectClass=posixAccount)

{% if ansible_distribution == 'CentOS' and ansible_distribution_release == 'Stream' %}
ldap_uri = ldap://hpc.ilri.cgiar.org
{% else %}
ldap_uri = ldaps://hpc.ilri.cgiar.org
# CACERT should work on both GnuTLS (Ubuntu) and OpenSSL (CentOS)
ldap_tls_cacert = {{ local_ca_certs_dir }}/hpc-ca-2017.crt
ldap_tls_reqcert = demand
{% endif %}

[nss]
filter_groups = root
filter_users = root,provisioning,munin,solr
