[domain/default]

ldap_id_use_start_tls = False
cache_credentials = True
ldap_search_base = dc=ilri,dc=cgiar,dc=org
krb5_realm = EXAMPLE.COM
krb5_server = kerberos.example.com
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
ldap_uri = ldaps://hpc.ilri.cgiar.org
# ca cert works on both GNUTLS(Ubuntu) & OpenSSL(CentOS)
#ldap_tls_cacertdir = {{ ldap_conf_dir }}/cacerts
ldap_tls_cacert = {{ local_ca_certs_dir }}/hpc-ca-2017.crt
[sssd]
services = nss, pam
config_file_version = 2

domains = default
[nss]

[pam]

[sudo]

[autofs]

[ssh]

[pac]

