{{ ansible_managed | comment }}

HostKey /etc/ssh/ssh_host_ed25519_key

# LogLevel VERBOSE logs user's key fingerprint on login. Needed to have a clear audit track of which key was using to log in.
LogLevel VERBOSE

MaxAuthTries 4

# To disable tunneled clear text passwords, change to no here!
{% if ssh_password_authentication == 'disabled' %}
PasswordAuthentication no
{% else %}
PasswordAuthentication yes
{% endif %}

X11Forwarding no

# Based on the ssh-audit profile for OpenSSH 8.7, but with but with all algos
# with less than 256 bits removed, as NSA's Suite B removed them years ago and
# the new (2018) CNSA suite is 256 bits and up.
#
# See: https://github.com/jtesta/ssh-audit/blob/master/src/ssh_audit/policy.py
# See: https://en.wikipedia.org/wiki/Commercial_National_Security_Algorithm_Suite
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group-exchange-sha256

{% if ssh_allowed_users is defined and ssh_allowed_users %}
AllowUsers {{ ssh_allowed_users|join(" ") }} {{ provisioning_user.name }}
{% else %}
# Always allow the provisioning user
AllowUsers {{ provisioning_user.name }}
{% endif %}

{% if ssh_allowed_groups is defined and ssh_allowed_groups %}
{%   for group in ssh_allowed_groups %}
# Also allow members of the "{{ group }}" group to login via ssh
Match group {{ group }}
    AllowUsers *
{%   endfor %}
{% endif %}
