{{ ansible_managed | comment }}
{% if extra_sudo_users is defined %}
{%   for user in extra_sudo_users %}
{{ user }}   ALL=(ALL)  ALL
{%   endfor %}
{% endif %}

{% if extra_nopasswd_sudo_users is defined %}
{%   for user in extra_nopasswd_sudo_users %}
{{ user }}   ALL=(ALL)  NOPASSWD:ALL
{%   endfor %}
{% endif %}

{% if 'dspace' in group_names %}
Cmnd_Alias TOMCAT = /bin/systemctl * tomcat{{ tomcat_version_major }}
dhmichael ALL=(ALL) TOMCAT

# for Atmire build/deploy scripts
{{ tomcat_user }} ALL = (root) NOPASSWD: /usr/sbin/service tomcat{{ tomcat_version_major }} s*
{{ tomcat_user }} ALL = (root) NOPASSWD: /bin/systemctl s* tomcat{{ tomcat_version_major }}
{% endif %}
