{{ ansible_managed | comment }}

[hpe-mcp]
name=CentOS-$releasever - HPE mcp packages for $basearch
{% if ansible_product_name is search('.*Gen9.*') or ansible_product_name is search('.*Gen8.*') -%}
# ILRI mirror of HPE MCP repository for Gen9 and earlier (use 10.xx or earlier)
# See: https://downloads.linux.hpe.com/SDR/project/mcp/
baseurl=https://hpc.ilri.cgiar.org/mirror/mcp/CentOS/$releasever/$basearch/10.50
{% elif ansible_product_name is search('.*Gen10.*') -%}
# ILRI mirror of HPE MCP repository for Gen10 (use 11.xx or "current")
# See: https://downloads.linux.hpe.com/SDR/project/mcp/
baseurl=https://hpc.ilri.cgiar.org/mirror/mcp/CentOS/$releasever/$basearch/current
{% endif %}
enabled=1
gpgcheck=0
protect=1
