*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT 
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT

{% for network in ssh_access %}
-A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -s {{ ghetto_ipsets[network].src }} -j ACCEPT
{% endfor %}

{% if 'web' in group_names or 'dspace' in group_names %}
{% for network in web_access %}
-A INPUT -p tcp -m state --state NEW -m tcp --dport 80 -s {{ ghetto_ipsets[network].src }} -j ACCEPT
{% endfor %}
{% endif %}

{% if 'storage' in group_names %}
{% if ganglia_master_host is defined %}
-A INPUT -s {{ ghetto_ipsets[ganglia_master_host].src }} -p tcp -m state --state NEW -m tcp --dport {{ ganglia_gmond_port }} -j ACCEPT
-A INPUT -s {{ ghetto_ipsets[ganglia_master_host].src }} -p udp -m state --state NEW -m udp --dport {{ ganglia_gmond_port }} -j ACCEPT
{% endif %}
-A INPUT -d 239.2.11.71/32 -p udp -m udp --dport {{ ganglia_gmond_port }} -j ACCEPT

{% for host in groups['storage'] %}
{% if host != inventory_hostname %}
-A INPUT -s {{ hostvars[host]['ansible_ssh_host'] }} -p tcp -m state --state NEW -m tcp -j ACCEPT
{% endif %}
{% endfor %}

{% for host in groups['compute'] %}
{% if host == 'hpc' %}
-A INPUT -s {{ hostvars[host]['ansible_ssh_host'] }} -p tcp -m state --state NEW -m tcp --dport {{ glusterfs_brick_ports }} -j ACCEPT
-A INPUT -s {{ hostvars[host]['ansible_ssh_host'] }} -p tcp -m state --state NEW -m tcp --dport {{ glusterd_mgmt_port }} -j ACCEPT
{% else %}
-A INPUT -s {{ hostvars[host]['ansible_ssh_host'] }} -p tcp -m state --state NEW -m tcp -j ACCEPT
{% endif %}
{% endfor %}
{% endif %}

{% if 'compute' in group_names %}
-A INPUT -s {{ ghetto_ipsets[slurm_head_node].src }} -p tcp -m state --state NEW -m tcp --dport {{ slurm_slurmd_port }} -j ACCEPT
{% if ganglia_master_host is defined %}
-A INPUT -s {{ ghetto_ipsets[ganglia_master_host].src }} -p tcp -m state --state NEW -m tcp --dport {{ ganglia_gmond_port }} -j ACCEPT
-A INPUT -s {{ ghetto_ipsets[ganglia_master_host].src }} -p udp -m state --state NEW -m udp --dport {{ ganglia_gmond_port }} -j ACCEPT
{% endif %}
-A INPUT -d 239.2.11.71/32 -p udp -m udp --dport {{ ganglia_gmond_port }} -j ACCEPT

{% for host in groups['compute'] %}
{% if host != inventory_hostname and host != 'hpc' %}
-A INPUT -s {{ hostvars[host]['ansible_ssh_host'] }} -p tcp -m state --state NEW -m tcp -j ACCEPT
{% endif %}
{% endfor %}
{% endif %}

{% if munin_master_host is defined %}
-A INPUT -s {{ ghetto_ipsets[munin_master_host].src }} -p tcp -m state --state NEW -m tcp --dport {{ munin_node_port }} -j ACCEPT
{% endif %}

{% if extra_iptables_rules is defined %}
{% for rule in extra_iptables_rules %}
-A INPUT -p {{ rule.protocol }} -m state --state NEW -m {{ rule.protocol }} --dport {{ rule.port }} -s {{ ghetto_ipsets[rule.acl].src }} -j ACCEPT
{% endfor %}
{% endif %}

-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
