# {{ ansible_managed }}

HOME=/root
AWS_ACCESS_KEY_ID={{ restic_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ restic_aws_secret_access_key }}
RESTIC_PASSWORD={{ restic_password }}
RESTIC_REPOSITORY={{ restic_repository }}
