[Unit]
Description=Restic backup

[Service]
Type=oneshot

EnvironmentFile=/etc/restic-backup

# Low priority CPU and I/O
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7

# Remove stale locks
ExecStartPre=/usr/local/bin/restic unlock
ExecStart=/opt/ilri/scripts/restic-backup.sh
