{% if ansible_distribution == "Ubuntu" %}
{% set apt_mirror    = apt_mirror | default("ubuntu.mirror.ac.ke") %}
#############################################################
################### OFFICIAL UBUNTU REPOS ###################
#############################################################

###### Ubuntu Main Repos
deb http://{{ apt_mirror }}/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse

###### Ubuntu Update Repos
deb http://{{ apt_mirror }}/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
deb http://{{ apt_mirror }}/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse

###### Ubuntu Partner Repo
deb http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner

###### Ubuntu Extras Repo
deb http://extras.ubuntu.com/ubuntu {{ ansible_distribution_release }} main

{% elif ansible_distribution == "Debian" %}
{% set apt_mirror    = apt_mirror | default("debian.mirror.ac.ke") %}
deb http://{{ apt_mirror }}/debian {{ ansible_lsb.codename }} main contrib non-free

deb http://{{ apt_mirror }}/debian {{ ansible_lsb.codename }}-updates main contrib non-free

deb http://security.debian.org {{ ansible_lsb.codename }}/updates main contrib non-free
{% endif %}
