[Unit]
Description=Set rx/tx descriptors of Mellanox 25GbE network card
ConditionFileIsExecutable=/usr/sbin/ethtool

[Service]
ExecStartPre=/usr/sbin/ethtool -g {{ ansible_default_ipv4.interface }}
ExecStart=/usr/sbin/ethtool -G {{ ansible_default_ipv4.interface }} rx 8192 tx 8192
ExecStartPost=/usr/sbin/ethtool -g {{ ansible_default_ipv4.interface }}

# ethtool exits with 80 when settings have not been changed, but systemd thinks
# this is a failure.
SuccessExitStatus=0 80

[Install]
WantedBy=multi-user.target
