# Allow {{ tomcat_user }} user to open more files (ie, in cron jobs). We have also set
# this limit in tomcat{{ tomcat_version_major }}.service for the Tomcat application itself.
{{ tomcat_user }}          -       nofile          16384
