[Unit]
Description=Tomcat {{ tomcat_version_major }} servlet container
After=network.target

[Service]
SyslogIdentifier=tomcat{{ tomcat_version_major }}
User={{ tomcat_user }}
Group={{ tomcat_group }}
EnvironmentFile=/etc/default/tomcat{{ tomcat_version_major }}
# Raise the open file limit for Tomcat to avoid
# "java.net.SocketException: Too many open files"
LimitNOFILE=16384
# Raise the shell address space for Solr to avoid
# "Lock obtain timed out"
LimitAS=infinity

ExecStart={{ tomcat_path }}/bin/catalina.sh run

# the JVM exits gracefully with 143 when it receives a SIGTERM (128 + 15 == 143)
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
