[Unit]
Description=CGSpace Country Code Tagger

[Timer]
# every morning at 1:20
OnCalendar=*-*-* 01:20:00
Persistent=true

[Install]
WantedBy=timers.target
