# users do funny things, make sure we don't penalize the system when they do!

# Default process priority (-20 highest, 19 lowest)
*       -   priority    19
root    -   priority    0

{% if inventory_hostname != 'hpc' %}
# override nproc settings from 20-nproc.conf, keeping in mind that the system
# max is 32,000 (see kernel.pid_max).
*          soft    nproc     8192
{% endif %}

{% if inventory_hostname == 'hpc' %}
# number of processes
*       -   nproc       512
@rmglinuxadm    -   nproc 4096
root    -   nproc       unlimited

# limit users to 4GB anon (swappable) memory
*       soft    as      3906250
# allow admins more
@rmglinuxadm    -   as  unlimited
provisioning    -   as  unlimited
root    -   as          unlimited
{% endif %}
