#!/bin/bash

# Location of ILRI module files
export MODULEPATH=/etc/modulefiles/ilri

{% if inventory_hostname == 'hpc' %}
# only run on interactive sessions
TTY=$(tty -s)

# Generate SSH keys for keyless logins! (ripped from Rocks 5.4)
# If we are interactive and don't have a public key, send prompt.
if [[ $INTERACTIVE != "false" ]] && [ ! -f $HOME/.ssh/id_rsa.pub ]
then
    echo
    echo "It doesn't appear that you have set up your ssh key."
    echo "This process will make the files:"
    echo "    " $HOME/.ssh/id_rsa.pub
    echo "    " $HOME/.ssh/id_rsa
    echo "    " $HOME/.ssh/authorized_keys
    echo

    # generate a key automatically, without prompting for a filename/password
    ssh-keygen -t rsa -f $HOME/.ssh/id_rsa -N ''

    cat $HOME/.ssh/id_rsa.pub >> $HOME/.ssh/authorized_keys

    chmod 600 $HOME/.ssh/authorized_keys
    chmod g-w $HOME
fi

# Load ILRI-specific scripts and tools
module load ilri/latest
{% endif %}
