#!/usr/bin/env bash

# Location of ILRI module files
export MODULEPATH=/etc/modulefiles/ilri

# 2017-09-26 Add custom R_LIBS for BecA training users. This library contains a
# pre-compiled version of the DESeq2 package. Can probably be removed after the
# training is completed to simplify things.
[[ $USER =~ ^user[0-9]+$ ]] && export R_LIBS=/export/apps/R/3.3-DESeq2-libpath

{% if inventory_hostname == 'hpc' %}
# only run on interactive sessions
TTY=$(tty -s)

# Generate SSH keys for keyless logins! (ripped from Rocks 5.4)
# If we are interactive and don't have a public key, send prompt.
if [[ $INTERACTIVE != "false" ]] && [[ ! -f $HOME/.ssh/id_rsa.pub ]]
then
    echo
    echo "It doesn't appear that you have set up your ssh key."
    echo "This process will make the files:"
    echo "    " $HOME/.ssh/id_rsa.pub
    echo "    " $HOME/.ssh/id_rsa
    echo "    " $HOME/.ssh/authorized_keys
    echo

    # generate a key automatically, without prompting for a filename/password
    ssh-keygen -t rsa -f $HOME/.ssh/id_rsa -N ''

    cat $HOME/.ssh/id_rsa.pub >> $HOME/.ssh/authorized_keys

    chmod 600 $HOME/.ssh/authorized_keys
    chmod g-w $HOME
fi

# Load ILRI-specific scripts and tools
module load ilri/latest
{% endif %}
