{{ ansible_managed | comment }}

[sshd]
enabled   = true
# See: /etc/fail2ban/filter.d/sshd.conf
filter    = sshd
{% if ansible_distribution == 'CentOS' and ansible_distribution_major_version is version('8', '==') %}
# Integrate with nftables
banaction=nftables[type=allports]
{% elif ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('20.04', '>=') %}
# Integrate with nftables
banaction=nftables[type=allports]
{% elif ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('18.04', '==') %}
# Integrate with nftables
banaction=nftables-allports
{% else %}
# Integrate with firewalld using direct rules. This is the default in CentOS's
# fail2ban-firewalld package, see: /etc/fail2ban/jail.d/00-firewalld.conf.
banaction = firewallcmd-rich-rules[actiontype=<allports>]
{% endif %}
backend   = systemd
maxretry  = {{ fail2ban_maxretry }}
findtime  = {{ fail2ban_findtime }}
bantime   = {{ fail2ban_bantime }}
ignoreip  = {{ fail2ban_ignoreip }}
