
module my-fail2banserver 1.0;

require {
	type fail2ban_exec_t;
	type fail2ban_var_lib_t;
	type fail2ban_t;
	type fail2ban_var_run_t;
	type init_t;
	class process2 nnp_transition;
	class file { create ioctl read write };
}

#============= init_t ==============
allow init_t fail2ban_exec_t:file ioctl;
allow init_t fail2ban_t:process2 nnp_transition;
allow init_t fail2ban_var_lib_t:file { read write };
allow init_t fail2ban_var_run_t:file create;
