#!/usr/bin/env python3

# TODO:
#   - ignore private address ranges
#   - support ipv6

import os
import sys
import argparse
import re
import csv
from datetime import datetime, timezone
from zoneinfo import ZoneInfo


def main(arguments):

    parser = argparse.ArgumentParser(
        description=__doc__, formatter_class=argparse.RawDescriptionHelpFormatter
    )
    parser.add_argument("infile", help="Input file", type=argparse.FileType("r"))
    parser.add_argument(
        "-o",
        "--outfile",
        help="Output file",
        default=sys.stdout,
        type=argparse.FileType("w"),
    )

    args = parser.parse_args(arguments)

    # Define field names.
    fieldnames = ["IP", "Categories", "Comment", "ReportDate"]
    # Begin CSV output.
    writer = csv.DictWriter(args.outfile, fieldnames=fieldnames)
    writer.writeheader()

    # Initialize empty list to hold addresses
    ipv4_addresses = list()

    for line in args.infile:
        # !! Match this format to your system's format.
        timestamp = r"([a-zA-Z]+ [0-9]+ [0-9]+:[0-9]+:[0-9]+)"
        ipv4 = r"([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})"
        # Match these messages in the journal:
        #   Invalid user devops from 178.60.204.50 port 50768
        #   Failed password for invalid user root from 61.177.173.31 port 22182 ssh2
        comment = fr"(Failed password for invalid|Invalid) (user [a-zA-Z0-9]+ from {ipv4} port [0-9]+)"

        # The regex of the line we're looking for, built up from component regexps.
        combined_re = fr"{timestamp} .* {comment}"

        # Run the regexp.
        matches = re.findall(combined_re, line)
        # If this line is in the format we're looking for,
        if matches:
            # Pull the tuple out of the list.
            matches_flat = matches[0]

            # Check if the address is already added to the report so we don't
            # waste time and resources submitting duplicates.
            #
            # See: https://www.abuseipdb.com/faq.html
            if matches_flat[3] not in ipv4_addresses:
                ipv4_addresses.append(matches_flat[3])
            else:
                continue

            ### !!! You may need to update this. ###
            # Parse log datetime to Python datetime object so we can update the timezone.
            # The format string should must your log files. Here we use the default in Debian/Redhat distros.
            attack_datetime = datetime.strptime(matches_flat[0], "%b %d %H:%M:%S")
            # Assume year is the current year.
            attack_datetime = attack_datetime.replace(datetime.now().year)
            # !! Set tzinfo to your system timezone using timezone.
            my_tz = ZoneInfo("{{ timezone }}")
            attack_datetime = attack_datetime.replace(tzinfo=my_tz)
            # Human readable attack time for the log
            attack_datetime_human = attack_datetime.strftime('%b %d %H:%M:%S')

            # Format to ISO 8601 to make it universal and portable.
            attack_datetime_iso = attack_datetime.isoformat()

            # We'll add the categories column statically at this step.
            # Output as a CSV row.
            writer.writerow(
                {
                    "IP": matches_flat[3],
                    "Categories": "18,22",
                    "Comment": f"{attack_datetime_human} {matches_flat[1]} {matches_flat[2]}",
                    "ReportDate": attack_datetime_iso,
                }
            )


if __name__ == "__main__":
    sys.exit(main(sys.argv[1:]))
