#!/usr/bin/env bash
{{ ansible_managed | comment }}

# set -e: exit on first error
# set -u: treat unset variables as an error
set -eu

{{ restic_binary_path }} version

echo 'Starting restic check'
{{ restic_binary_path }} check

echo 'Starting restic backup of {{ restic_backup_paths|join(" ") }}'
{{ restic_binary_path }} backup {{ restic_backup_paths|join(" ") }}

exit 0
