---
# Run tasks from the web role to install and configure basic nginx TLS settings,
# default vhost, etc.
- name: Include common tasks from web role
  ansible.builtin.include_role:
    name: web
  tags: letsencrypt

- name: Copy nginx DSpace configs
  ansible.builtin.copy:
    src: nginx/{{ item }}
    dest: /etc/nginx/{{ item }}
    mode: "0644"
    owner: root
    group: root
  loop:
    - nginx.conf
    - proxy_params
    - bot-networks-bad.conf
    - bot-networks-good.conf
    - datacenter-networks.conf
    - handle-redirects.conf
  notify:
    - reload nginx

- name: Configure nginx DSpace 7 vhost
  ansible.builtin.template:
    src: nginx/dspace.conf.j2
    dest: /etc/nginx/conf.d/dspace.conf
    mode: 0644
    owner: root
    group: root
  when: dspace_version_major is version('7', '==')
  notify:
    - reload nginx

# vim: set sw=2 ts=2:
