{{ ansible_managed | comment }}

# default blank SSL server for invalid requests and clients without SNI
#
# clients asking for "example.com" should only get a response if we have
# a vhost serving that domain.
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    return 444;
}

server {
    listen {{ nginx_ssl_port }} ssl default_server;
    listen [::]:{{ nginx_ssl_port }} ssl default_server;
    http2 on;
    # specify an invalid hostname that will never match
    # see: http://nginx.org/en/docs/http/server_names.html
    server_name _;

    # "snakeoil" certificate (self signed!)
    ssl_certificate /etc/ssl/certs/nginx-snakeoil.crt;
    ssl_certificate_key /etc/ssl/private/nginx-snakeoil.key;

    include /etc/nginx/intermediate-tls.conf;

    return 444;
}
