[Unit]
Description=Solr
After=network.target

[Service]
PIDFile={{ solr_var_dir }}/solr-{{ solr_port }}.pid
Environment=SOLR_INCLUDE={{ solr_var_dir }}/solr.in.sh
User={{ solr_user }}
Group={{ solr_group }}

ExecStart={{ solr_install_dir }}/bin/solr start
ExecStop={{ solr_install_dir }}/bin/solr stop

[Install]
WantedBy=multi-user.target
