---
# Install and configure go-away as a container running under systemd quadlets via
# podman.

- name: Create Podman helper user
  ansible.builtin.user:
    name: containers
    comment: Helper user to reserve subuids and subgids for Podman
    create_home: false
    shell: /usr/sbin/nologin

- name: Install Podman
  ansible.builtin.apt:
    pkg: podman
    cache_valid_time: 3600
    state: present
  tags: packages

# This load_module line must be present before the events block
- name: Enable nginx acme module
  ansible.builtin.lineinfile:
    path: /etc/nginx/nginx.conf
    regexp: ^load_module\s+modules\/ngx_http_acme_module\.so;$
    insertbefore: ^events
    firstmatch: true
    line: load_module modules/ngx_http_acme_module.so;
    state: present
  notify:
    - reload nginx

- name: Remove default nginx vhost
  ansible.builtin.file:
    path: /etc/nginx/conf.d/default.conf
    state: absent
  notify:
    - reload nginx
  tags: nginx

- name: Copy extra nginx configs (templates)
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
    owner: root
    group: root
  loop:
    - { src: etc/nginx/intermediate-tls.conf.j2, dest: /etc/nginx/intermediate-tls.conf }
    - { src: etc/nginx/conf.d/blank-vhost.conf.j2, dest: /etc/nginx/conf.d/blank-vhost.conf }
    - { src: etc/nginx/extra-security.conf.j2, dest: /etc/nginx/extra-security.conf }
    - { src: etc/nginx/conf.d/01-acme.conf.j2, dest: /etc/nginx/conf.d/01-acme.conf }
  notify:
    - reload nginx
  tags: nginx

- name: Copy extra nginx configs (files)
  ansible.builtin.copy:
    src: etc/nginx/proxy_params
    dest: /etc/nginx/proxy_params
    mode: "0644"
    owner: root
    group: root
  notify:
    - reload nginx
  tags: nginx

- name: Start and enable nginx service
  ansible.builtin.systemd_service:
    name: nginx
    state: started
    enabled: true

- name: Remove certbot
  ansible.builtin.apt:
    name: certbot
    state: absent

# vim: set sw=2 ts=2:
