---
# This role currently only installs and does basic configuration of the Let's
# Encrypt certbot client and some auxiliary web server configuration.

- name: Configure Let's Encrypt
  ansible.builtin.include_tasks: letsencrypt.yml
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_version is version('20.04', '>=')
    - (webserver is defined and webserver != 'caddy')
    - (webserver is defined and webserver != 'nginx')
  tags: letsencrypt

# For now only run this on Ubuntu 24.04 because we need to make sure the version
# of Podman is new enough.
- name: Configure go-away
  ansible.builtin.include_tasks: go-away.yml
  when:
    - enable_go_away is defined and enable_go_away == 'true'
    - ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('24.04', '>=')
  tags: go-away

# Only run httpd plays on Ubuntu for now
- name: Configure Apache httpd
  ansible.builtin.include_tasks: httpd.yml
  when:
    - webserver is defined
    - webserver == 'apache_httpd'
    - ansible_distribution == 'Ubuntu'
  tags: httpd

# Only run nginx plays on Ubuntu for now
- name: Configure nginx
  ansible.builtin.include_tasks: nginx.yml
  when:
    - webserver is defined
    - webserver == 'nginx'
    - ansible_distribution == 'Ubuntu'
  tags: nginx

- name: Configure caddy
  ansible.builtin.include_tasks: caddy.yml
  when:
    - webserver is defined
    - webserver == 'caddy'
  tags: caddy

# vim: set ts=2 sw=2:
