---
# Install and configure nginx from the upstream package repository. For now this
# only configures common settings that we use everywhere, but not site-specific
# things like vhosts.
#
# See: https://nginx.org/en/download.html

- name: Download nginx apt signing key
  ansible.builtin.get_url:
    url: https://nginx.org/keys/nginx_signing.key
    dest: /usr/share/keyrings/nginx_signing.key
    owner: root
    group: root
    mode: "0644"
    checksum: sha256:55385da31d198fa6a5012d40ae98ecb272a6c4e8fffffba94719ffd3e87de37a
  register: download_nginx_signing_key

- name: Add nginx stable repository
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64 signed-by=/usr/share/keyrings/nginx_signing.key] https://nginx.org/packages/ubuntu/ {{ ansible_distribution_release }} nginx
    filename: nginx_org_packages_ubuntu
    state: present
  register: add_nginx_apt_repository
  when: nginx_version == "stable"

- name: Add nginx mainline repository
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64 signed-by=/usr/share/keyrings/nginx_signing.key] https://nginx.org/packages/mainline/ubuntu/ {{ ansible_distribution_release }} nginx
    filename: nginx_org_packages_ubuntu
    state: present
  register: add_nginx_apt_repository
  when: nginx_version == "mainline"

- name: Update apt cache
  ansible.builtin.apt: # noqa no-handler
    update_cache: true
  when:
    (download_nginx_signing_key.status_code is defined and download_nginx_signing_key.status_code == 200) or
    add_nginx_apt_repository is changed

- name: Install nginx
  ansible.builtin.apt:
    pkg: nginx
    cache_valid_time: 3600
    state: present
  tags: packages

# See: https://docs.ansible.com/ansible/latest/collections/community/crypto/docsite/guide_selfsigned.html
- name: Create private key (RSA, 4096 bits)
  community.crypto.openssl_privatekey:
    path: /etc/ssl/private/nginx-snakeoil.key

- name: Generate self-signed TLS cert
  community.crypto.x509_certificate:
    path: /etc/ssl/certs/nginx-snakeoil.crt
    privatekey_path: /etc/ssl/private/nginx-snakeoil.key
    provider: selfsigned
  notify:
    - reload nginx

- name: Download 4096-bit RFC 7919 dhparams
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/internetstandards/dhe_groups/master/ffdhe4096.pem
    checksum: sha256:64852d6890ff9e62eecd1ee89c72af9af244dfef5b853bcedea3dfd7aade22b3
    dest: "{{ nginx_ssl_dhparam }}"
    mode: "0644"
    owner: root
    group: root
  notify:
    - reload nginx
  tags: nginx

- name: Remove default nginx vhost
  ansible.builtin.file:
    path: /etc/nginx/conf.d/default.conf
    state: absent
  notify:
    - reload nginx

- name: Copy extra nginx configs (templates)
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
    owner: root
    group: root
  loop:
    - { src: etc/nginx/intermediate-tls.conf.j2, dest: /etc/nginx/intermediate-tls.conf }
    - { src: etc/nginx/conf.d/blank-vhost.conf.j2, dest: /etc/nginx/conf.d/blank-vhost.conf }
    - { src: etc/nginx/extra-security.conf.j2, dest: /etc/nginx/extra-security.conf }
  notify:
    - reload nginx

- name: Copy extra nginx configs (files)
  ansible.builtin.copy:
    src: etc/nginx/proxy_params
    dest: /etc/nginx/proxy_params
    mode: "0644"
    owner: root
    group: root
  notify:
    - reload nginx

- name: Start and enable nginx service
  ansible.builtin.systemd_service:
    name: nginx
    state: started
    enabled: true

# vim: set sw=2 ts=2:
