---
# Common nftables tasks for Ubuntu 18.04, Ubuntu 20.04, CentOS Stream 8, Ubuntu
# 22.04, and Debian 11.

- name: Copy nftables.conf
  ansible.builtin.template:
    src: nftables.conf.j2
    dest: "{{ nftables_conf_path }}"
    owner: root
    mode: "0644"
  notify:
    - restart nftables

# Debian/Ubuntu do not have /etc/nftables directory by default
- name: Create /etc/nftables extra config directory
  when:
    ansible_distribution == 'Ubuntu'
    or ansible_distribution == 'Debian'
  ansible.builtin.file:
    path: /etc/nftables
    state: directory
    owner: root
    mode: "0755"

- name: Copy nftables sets
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: /etc/nftables/{{ item.src }}
    owner: root
    group: root
    mode: "0644"
    force: "{{ item.force }}"
  loop:
    - { src: firehol_level1-ipv4.nft, force: false }
  notify:
    - restart nftables

- name: Copy nftables update scripts
  ansible.builtin.template:
    src: "{{ item }}"
    dest: /usr/local/bin/{{ item | split('.j2') | first }}
    mode: "0755"
    owner: root
    group: root
  loop:
    - update-firehol-nftables.sh.j2

- name: Copy nftables systemd units
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /etc/systemd/system/{{ item }}
    mode: "0644"
    owner: root
    group: root
  loop:
    - update-firehol-nftables.service
    - update-firehol-nftables.timer
  register: nftables_systemd_units

# need to reload to pick up service/timer/environment changes
- name: Reload systemd daemon
  ansible.builtin.systemd_service: # noqa no-handler
    daemon_reload: true
  when: nftables_systemd_units is changed

- name: Start and enable nftables update timers
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - update-firehol-nftables.timer

- name: Start and enable nftables service
  ansible.builtin.systemd_service:
    name: nftables.service
    state: started
    enabled: true

# vim: set sw=2 ts=2:
