---
# Reconfigure OpenSSH's sshd_config.

# OpenSSH on Ubuntu versions before 20.04 don't support configuration overrides,
# so we overwrite the system configuration.
- name: Reconfigure /etc/ssh/sshd_config
  ansible.builtin.template:
    src: sshd_config_{{ ansible_distribution }}-{{ ansible_distribution_version }}.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: "0600"
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version is version('20', '<')
  notify: reload sshd

# For years we directly modified the system sshd_config, but now we can leave
# it alone and include our own overrides in sshd_config.d.
# TODO: remove this after all Ubuntu 20.04 and 22.04 hosts have been reset
- name: Reset /etc/ssh/sshd_config to dist
  ansible.builtin.template:
    src: sshd_config_{{ ansible_distribution }}-{{ ansible_distribution_version }}.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: "0600"
  when: ansible_distribution == 'Ubuntu' and (ansible_distribution_version is version('20.04', '==') or ansible_distribution_version is version('22.04', '=='))
  notify: reload sshd

# OpenSSH on Ubuntu 20.04+ and CentOS Stream 9+ support including configuration
# snippets. The includes happen at the beginning of the file and the first value
# to be read is used.
- name: Configure ILRI sshd_config.d overrides
  ansible.builtin.template:
    src: etc/ssh/sshd_config.d/01-ilri_{{ ansible_distribution }}-{{ ansible_distribution_version }}.conf.j2
    dest: /etc/ssh/sshd_config.d/01-ilri.conf
    owner: root
    group: root
    mode: "0600"
  when: (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version is version('20', '>=')) or
        (ansible_distribution == 'CentOS' and ansible_distribution_major_version is version('9', '=='))
  notify: reload sshd

# OpenSSH on Debian 11+ supports including configuration snippets similar to the
# above, but we need to use the distribution major version (ie 12) rather than
# the distribution version (ie 12.12) because the OpenSSH version doesn't change
# in Debian point releases.
- name: Configure ILRI sshd_config.d overrides
  ansible.builtin.template:
    src: etc/ssh/sshd_config.d/01-ilri_{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.conf.j2
    dest: /etc/ssh/sshd_config.d/01-ilri.conf
    owner: root
    group: root
    mode: "0600"
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version is version('11', '>='))
  notify: reload sshd

# Unsure which versions this exists on, but I've seen it on Ubuntu 24.04. We
# don't want this to conflict with our settings.
- name: Remove sshd cloud config
  ansible.builtin.file:
    path: /etc/ssh/sshd_config.d/50-cloud-init.conf
    state: absent
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version is version('24', '==')
  notify: reload sshd

# See: WeakDH (2015): https://weakdh.org/sysadmin.html
- name: Remove small Diffie-Hellman SSH moduli
  block:
    - name: Check unsafe Diffie-Hellman SSH moduli
      ansible.builtin.command:
        cmd: awk '$5 < 3071' moduli
        chdir: /etc/ssh
      register: check_unsafe_moduli
      changed_when: check_unsafe_moduli.stdout_lines | length > 0

    - name: Extract safe Diffie-Hellman SSH moduli
      ansible.builtin.shell:
        cmd: awk '$5 >= 3071' moduli > moduli.safe
        chdir: /etc/ssh
        creates: moduli.safe
      when: check_unsafe_moduli.stdout | length > 0
      register: extract_safe_moduli

    - name: Replace unsafe Diffie-Hellman SSH moduli
      ansible.builtin.command:
        cmd: mv moduli.safe moduli
        chdir: /etc/ssh
      register: replace_small_moduli
      when: extract_safe_moduli is changed
      notify: reload sshd

# vim: set sw=2 ts=2:
