##
# Slurm Logrotate Configuration
#
# Note: this comes from the example in the slurm.conf man page. The use of
# SIGUSR2 here is the preferred way to get SLURM daemons to re-read their
# configuration files (as opposed to scontrol reconfigure).
##
/var/log/slurm/*.log {
    compress
    missingok
    nocopytruncate
    nodelaycompress
    nomail
    notifempty
    noolddir
    rotate 5
    sharedscripts
    size=5M
    create 640 slurm root
    postrotate
        pkill -x --signal SIGUSR2 slurmd
{% if inventory_hostname == slurm_head_node %}
        pkill -x --signal SIGUSR2 slurmctld
        pkill -x --signal SIGUSR2 slurmdbd
{% endif %}
        exit 0
    endscript
}
