[Unit]
Description=DSpace Statistics Indexer
After=tomcat7.target

[Service]
EnvironmentFile=/etc/dspace-statistics-api
User=nobody
Group=nogroup
WorkingDirectory={{ dspace_statistics_api_dir }}
ExecStart={{ dspace_statistics_api_dir}}/venv/bin/python -m dspace_statistics_api.indexer

[Install]
WantedBy=multi-user.target
