# See: https://github.com/Unitech/pm2/blob/master/lib/templates/init-scripts/systemd.tpl

[Unit]
Description=DSpace Angular (PM2)
After=network.target tomcat{{ tomcat_version_major }}.service
Wants=tomcat{{ tomcat_version_major }}.service

[Service]
User={{ tomcat_user }}
Group={{ tomcat_group }}
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=NODE_ENV=production
Environment=PM2_HOME={{ tomcat_user_home }}/.pm2
Restart=on-failure
WorkingDirectory={{ tomcat_user_home }}/src/git/dspace-angular
ExecStart={{ tomcat_user_home }}/.node_modules/lib/node_modules/pm2/bin/pm2 start ./dist/server/main.js --name dspace-ui -i 4 --max-memory-restart 3G --no-daemon
ExecReload={{ tomcat_user_home }}/.node_modules/lib/node_modules/pm2/bin/pm2 reload dspace-ui
ExecStop={{ tomcat_user_home }}/.node_modules/lib/node_modules/pm2/bin/pm2 stop dspace-ui
# Don't log pm2 to the systemd journal! Use pm2 logs instead.
StandardOutput=null

[Install]
WantedBy=multi-user.target
