{{ ansible_managed | comment }}

SOLR_SERVER=http://localhost:8081/solr
DATABASE_NAME={{ dspace_statistics_db_name }}
DATABASE_USER={{ dspace_statistics_db_user }}
DATABASE_PASS={{ dspace_statistics_db_password }}
DATABASE_HOST={{ dspace_statistics_db_host }}

DSPACE_STATISTICS_API_URL="/rest/statistics"
