[Unit]
Description=DSpace Statistics API {{ dspace_statistics_api_git_version }}
After=network.target

[Service]
EnvironmentFile=/etc/dspace-statistics-api
DynamicUser=yes
WorkingDirectory={{ dspace_statistics_api_dir }}
ExecStart={{ dspace_statistics_api_dir}}/venv/bin/gunicorn \
          --bind 127.0.0.1:5000                            \
          dspace_statistics_api.app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
