[Unit]
Description=DSpace Statistics Indexer {{ dspace_statistics_api_git_version }}
After=solr.service

[Service]
EnvironmentFile=/etc/dspace-statistics-api
User=nobody
Group=nogroup
WorkingDirectory={{ dspace_statistics_api_dir }}
ExecStart={{ dspace_statistics_api_dir}}/venv/bin/python -m dspace_statistics_api.indexer

[Install]
WantedBy=multi-user.target
