# GeoIP.conf file for `geoipupdate` program, for versions < 3.1.1.
# Used to update GeoIP databases from https://www.maxmind.com.
# For more information about this config file, visit the docs at
# https://dev.maxmind.com/geoip/geoipupdate/.

# `UserId` is from your MaxMind account.
UserId {{ maxmind_geoip_account_id }}

# `LicenseKey` is from your MaxMind account
LicenseKey {{ maxmind_geoip_license_key }}

# `ProductIds` is from your MaxMind account.
ProductIds GeoLite2-City
