SHELL=/bin/bash
PATH=/bin:/sbin:/usr/bin:/usr/sbin
{% for vendor in hw_raid_vendor %}
{% if vendor == 'lsi' %}
00 */12 * * * root /opt/ilri/scripts/lsi-raid-monitoring.sh checkNemail
{% endif %}
{% if vendor == 'hp' %}
01 */12 * * * root /opt/ilri/scripts/hp-raid-monitoring.sh
{% endif %}
{% endfor %}
