<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<settings  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0  http://maven.apache.org/xsd/settings-1.0.0.xsd"
xmlns="http://maven.apache.org/SETTINGS/1.0.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>atmire.com-releases</id>
            <username>{{ maven_username }}</username>
            <password>{{ maven_password }}</password>
        </server>
        <server>
            <id>atmire.com-snapshots</id>
            <username>{{ maven_username }}</username>
            <password>{{ maven_password }}</password>
        </server>
    </servers>
</settings>
